div{
	
		margin: 20px;
		border-style: solid;
        border-width: 5px 0px;
        border-color: blue blue;
		background-color: #00c3f8;
		padding-top:10px;
        height: 100px;
		width: 400px;
		
        
}

select:focus {
	background-color: yellow;

}

input:focus {
	background-color: yellow
}

